@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Roboto:wght@100;500&display=swap");
body {
  height: 100vh;
  width: 100%;
}

.btn-shop {
  padding-bottom: 10%;
  float: left;
  border-radius: 20px;
}

.btn-btn-primary {
  display: block;
  background-color: aliceblue;
  color: black;
  border-radius: 15px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  padding: 15px;
}
.btn-btn-primarybtn-btn-primary::after {
  background-color: black;
}

.milestronecard1 {
  width: 452;
  height: 163;
}

/*Offer-section Start*/
.offer-section {
  padding: 50px;
}

.offer-card {
  width: auto;
  height: 870px;
  padding-top: 40%;
  background-color: rgba(77, 71, 71, 0.556);
  align-items: center;
  padding: 50px;
  border-radius: 20px;
  width: 100;
  z-index: 3;
}
.offer-card .offer-font {
  font-size: 120px;
  font-family: Poppins;
  font-weight: bolder;
}

/*Offer-section end*/
.Categories {
  width: 100%;
  height: 30%;
  justify-content: center;
}

.Categories-row {
  justify-content: center;
}

.cate-card-btn {
  margin: 12px;
  width: 120px;
  height: 120px;
  background-color: #3A3A84;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
}

/*register section start*/
.tending-section {
  display: contents;
  width: 100%;
  height: 40%;
}

.resgister-section {
  background-color: #3A3A84;
}

/*Card slider start*/
.card11 {
  width: 350px;
  min-width: 350px;
  height: auto;
  background: #fff;
  border-color: black;
  border-radius: 30px;
  position: relative;
  z-index: 10;
  margin: 25px;
  min-height: 556px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08);
}

.card11:hover {
  transform: translate(0, -10px);
  box-shadow: 0px 17px 35px 0px rgba(0, 0, 0, 0.07);
}

.card11 .tags {
  background-color: #FF1862;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 130px;
  height: 40px;
  padding: 15px;
  border-radius: 40px 20px;
  z-index: -5;
  color: #fff;
}
.card11 .tags .tag-title {
  left: 0;
  top: 0;
  text-align: center;
}

.card11 .tag-text {
  position: absolute;
  width: 125px;
  height: 20px;
  top: 0;
  right: 0;
  font-size: 1rem;
  font-family: Roboto;
}
.card11 .tag-text .timer {
  color: #FF1862;
  font-size: 1rem;
  font-weight: 900;
  margin-top: 20%;
  text-align: center;
}

.card11 .card-text {
  padding: 20px;
}
.card11 .card-text .rate1 {
  color: #3A3A84;
  font-family: Roboto;
  font-size: 20px;
}
.card11 .card-text .rate2 {
  color: #2c2c2c91;
  font-family: Poppins;
  font-size: 16px;
  text-decoration: line-through;
}
.card11 .card-text .rate3 {
  color: #FF1862;
  font-family: Poppins;
  font-size: 19px;
  font-weight: 700;
}

.Add-to-Cart {
  color: #ffffff;
  border-radius: 40px;
  align-items: center;
  background-color: #3A3A84;
  width: 150px;
  height: 50px;
  padding: 10px;
  align-items: center;
}

.card-para {
  font-size: 18px;
  font-family: Poppins;
  font-weight: 300;
  justify-content: first baseline;
}

.card11 .card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: auto;
  padding-top: 100px;
  padding-right: 50px;
  scroll-behavior: smooth;
}

.card-content::-webkit-scrollbar {
  height: 0px;
}

.card-content:after {
  content: "";
  display: block;
  min-width: 20px;
  height: 100px;
  position: relative;
}

.btn {
  min-width: 60px;
  margin: auto 30px;
  height: 60px;
  border-radius: 20px;
  background: white;
  border: 0px;
  outline: none;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08);
  transition: all 0.25s ease;
}

.btn:hover {
  box-shadow: 0px 17px 35px 0px rgba(0, 0, 0, 0.07);
}

.btn i {
  font-size: 1.2rem;
}

.slider {
  display: flex;
  justify-content: center;
  background: #f2f3f8;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.slider:after {
  content: "";
  left: 98px;
  height: 90vh;
  position: absolute;
  width: 150px;
  z-index: 100;
  background: linear-gradient(90deg, #f2f3f8 0%, rgba(242, 243, 248, 0) 100%);
  pointer-event: none;
}

.slider:before {
  content: "";
  right: 98px;
  height: 90vh;
  position: absolute;
  width: 150px;
  z-index: 100;
  background: linear-gradient(90deg, rgba(242, 243, 248, 0) 0%, #f2f3f8 100%);
  pointer-event: none;
}

/*card slider end*/
/*Start BannerStart*/
.Banner {
  width: 100%;
  height: 20%;
}

.card55 {
  width: 190%;
  height: 100px;
  background-color: #ecb5f2;
  border-radius: 20px;
  display: block;
}

.banner-text {
  text-align: center;
  color: #fa0b6b;
  font-family: Poppins;
  font-size: 18px;
}
.banner-text .ban-high-light2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
}
.banner-text .coupon-code {
  width: 150px;
  height: 20px;
  padding: 10px;
  align-items: center;
  border-radius: 30px;
  border-style: dashed;
}
.banner-text .ban-high-light3 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  color: #6b6b6b !important;
}

/*Start Banner end*/
/*Start Popular Category*/
.pop-btn-1 {
  width: 250px;
  height: 250px;
  background-color: #3A3A84;
  border-radius: 20px;
}

.pop-txt-color {
  color: #fa0b6b;
  font-size: 18px;
  font-family: Poppins;
}

/*End Popular Category*/
/*Fast-Filling-Deals Start*/
/*Fast-Filling-Deals  End*//*# sourceMappingURL=style.css.map */